.register{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.register p{
    margin-top: 5px;
    margin-bottom: 2px;
    text-align: start;
}

button{
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
}